<div class="container">
  <div class="rowrounded m-5">
    <div class="col-md-4 float-left">    
      <div class="row p-2">  
        <h4>List Of Product:</h4>   
        <a class="col-xs-12 border p-3 m-3" *ngFor= "let product of productList ;let i = index"
        (click)="onClick(i)">
            <p>Prodcut Name: {{product.name}}</p>
            <p>Product Category: {{product.category}}</p>
            <p>Product Size: {{product.size}}</p>
        </a>
      </div>    
    </div>

    <div class="col-md-4 border float-right">
      <h4 class="m-2">Enter Product</h4>
      <div class="row px-4 py-2"> 
        <div class="col-xs-12">
          <label>Product Id</label><br>
          <input class="d-block" type="text" class="forn-control" [(ngModel)] = "Nid" ><br>
          <label>Product Name</label><br>
          <input type="text" class="forn-control" [(ngModel)] = "Nname" ><br>
          <label >Product Category</label><br>
          <input  type="text" class="forn-control"  [(ngModel)] = "Ncategory"><br>
          <label>Product Size</label ><br>
          <input type="number" class="forn-control"  [(ngModel)] = "Nsize">
        </div>
      </div>
      <div class="m-2">
        <button class="btn btn-primary mr-2" (click) = onAdd()>Add</button>
        <button class="btn btn-danger mr-2" (click) = onDelete()>Delete</button>
        <button class="btn btn btn-secondary" (click) = onEdit() >Edit</button>
      </div> 
    </div>
  </div>
</div>